
*.g.cs
*.g.i.cs
*.exe
*.dll
*.tlog
*.pdb
*.cache
*.suo
*.baml
*.lref
*.g.resources
*.exe.config
*.exe.manifest
*.resources
*.txt
*.cachefile

#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Subversion files
.svn

# Office Temp Files
~$*

MetroDemo/publish/*
/_MonoGame/MacOsX/*.config
/_MonoGame/wp8/arm/*.winmd
/_MonoGame/wp8/x86/*.winmd
*.winmd
_Bin
*.userprefs
ThirdParty/*
