<?xml version="1.0" encoding="utf-8"?>
<UiBorder
    xmlns="namespace:Sitana.Framework.Ui.Views,Sitana.Framework"
    xmlns:button="namespace:Sitana.Framework.Ui.Views.ButtonDrawables,Sitana.Framework"
    xmlns:effect="namespace:Sitana.Framework.Ui.Views.TransitionEffects,Sitana.Framework"
    Width="340" Height="32" HorizontalAlignment="Left" VerticalAlignment="Top">
    <UiStackPanel Style="MenuStrip">
        <UiButton Style="MenuButton" Text="File" Click="{ShowElement('FileMenu')}" />
        <UiButton Style="MenuButton" Text="Edit" />
        <UiButton Style="MenuButton" Text="View" Click="{ShowElement('ViewMenu')}"/>
        <UiButton Style="MenuButton" Text="Help" />
    </UiStackPanel>

    <UiLabel Text="{FileName}" Font="Font" FontSize="8" X="@-4" Y="16" HorizontalContentAlignment="Right" HorizontalAlignment="Right" VerticalAlignment="Center"/>

    <!-- File menu -->
    <UiModalLayout Id="FileMenu" Style="MenuStripLayout" Controller="GameEditor.FileMenuController,GameEditor">
        <UiStackPanel Style="MenuStrip">
            <UiButton Style="MenuButton" Text="New" Click="{New()}" />
            <UiButton Style="MenuButton" Text="Open" Click="{Open()}" />
            <UiButton Style="MenuButton" Text="Save" Click="{Save()}" />
            <UiButton Style="MenuButton" Text="Save As..." Width="72" Click="{SaveAs()}" />
        </UiStackPanel>
    </UiModalLayout>

    <!-- View -->
    <UiModalLayout Id="ViewMenu" Style="MenuStripLayout">
        <UiStackPanel Style="MenuStrip">
            <UiCheckBox Style="MenuCheckBox" Text="All layers" Checked="{ShowAllLayers}"/>
            <UiCheckBox Style="MenuCheckBox" Width="60" Text="Small" Checked="{SmallView}"/>
            <UiCheckBox Style="MenuCheckBox" Width="60" Text="Big" Checked="{BigView}"/>g
        </UiStackPanel>
    </UiModalLayout>
        
</UiBorder>
